---
layout: page
title: Blog
permalink: /blog/
exclude: true
---

<ul class="posts-list">
{% for post in site.posts limit:5 %}
  <li><span class="date">{{ post.date | date: "%b %d, %Y" }}</span> <a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a>{% if post.draft %} (draft){% endif %}
{% endfor %}
</ul>

<p>You can browse it by year below, or by
<ul>
  <li><a href="{{ site.baseurl }}/blog/categories">categories</a>
  <li><a href="{{ site.baseurl }}/blog/tags">tags</a>
  <li><a href="{{ site.baseurl }}/blog/year">years</a></li>
</ul>

<ul>
  {% assign categories = site.categories | sort %}
  {% for category in categories %}
    <li><a href="#{{ category[0] | slugify }}">{{ category[0] }} ({{ category | last | size }})</a>
  {% endfor %}
</ul>

