---
layout: default
---
<article class="post" itemscope itemtype="http://schema.org/BlogPosting">

  <header class="post-header">
    <p class="post-back"><a href="{{ site.baseurl }}/blog">&larr; Back to Blog</a></p>

    <h1 class="post-title" itemprop="name headline">{{ page.title }}</h1>

    <p class="post-meta">
      <time datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">{{ page.date | date: "%b %-d, %Y" }}</time>
      {% if page.author %} &bull; <span itemprop="author" itemscope itemtype="http://schema.org/Person"><span itemprop="name">{{ page.author }}</span></span>{% endif %}
    </p>

    {% if page.categories.size > 0 %}
    <div class="post-meta">
      categories:
      <ul class="categories-list">
        {% for category in page.categories %}
          <li><a href="{{ site.baseurl }}/blog?category={{ category | slugify }}">{{ category }}</a></li>
        {% endfor %}
      </ul>
    </div>
    {% endif %}

    {% if page.tags.size > 0 %}
    <div class="post-meta">
      tags:
      <ul class="tags-list">
        {% for tag in page.tags %}
          <li><a href="{{ site.baseurl }}/blog?tag={{ tag | slugify }}">{{ tag }}</a></li>
        {% endfor %}
      </ul>
    </div>
    {% endif %}
  </header>

  <div class="post-content" itemprop="articleBody">
    {{ content }}
  </div>

  <ul class="pagination">
    {% if page.previous.url %}
      <li class="previous"><a href="{{ page.previous.url | prepend: site.baseurl | replace: "//", "/" }}">previous post</a></li>
    {% else %}
      <li class="disabled previous"><a href="#">previous post</a></li>
    {% endif %}

    {% if page.next.url %}
      <li class="next"><a href="{{ page.next.url | prepend: site.baseurl | replace: "//", "/" }}">next post</a></li>
    {% else %}
      <li class="disabled next"><a href="#">next post</a></li>
    {% endif %}
  </ul>

  {% include disqus.html disqus_identifier=page.disqus_identifier %}
</article>
